*{
    font-family: 'Roboto Condensed';
    
}
.logo{
    width: 12rem;
    

}
.row-container{
    border-radius: 30px;
    border-color: black;
    border: 5px;

}
#text-slogan{
    color: #FFF;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 1.3em;
}

.border-section{
    border-radius: 15px;
}
.bienveido-class{
    padding-bottom: 2rem;
}
.bg-light {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.custom-input{
    border-width: 2px;
    border-radius: 10px;
}
.custom-input:focus{
    border-color: #316cc1; /* Cambia el color del borde al seleccionar el input */
    border-width: 2px;
    box-shadow: none; /* Puedes agregar un efecto de sombra si lo deseas */
}
.custom-input-label{
    font-weight: bold;
    color: #282828;
}
.custom-input:focus+label{
    color: #316cc1; /* Cambia el color del texto del label a #CD59A4 */
}

.btn-primary{
    box-shadow: none;
    background-color:#316cc1;
    border-color: #316cc1 ;
    width: 15rem;
    height: 3rem;
    font-weight: bolder;
    font-size: 20px;
    
}
.custom-modal{
    width: 80rem;
    margin: auto;

}
.modal-dialog{
    max-width: none; 
    margin: none;
    
}
.modal-content{
    display: flex;
    flex-direction: column;

}